:root {
    /* General text colours */
--dark-text: black;
--light-text: white;
  /* Header + Footer Colours to go here */

/* Excuse Generator Colours */
--eg-navy: #073b4cff;
--eg-blue: #7b9ea8ff;
--eg-dusty-pink: #b48291ff;
--eg-light-pink: #ddcabbff;
}
body {
margin-left: 10%;
margin-right: 10%;
}

.hide {
  display: none;
}

header h1 {
  font-family: 'Mali', sans-serif;
  font-size: 3.5em;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(60deg, rgb(78, 124, 78), rgb(71, 124, 184));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

header h3 {
  font-family: 'Quicksand';
}

header {
  padding-bottom: 20px;
}

