:root {
    /* General text colours */
--dark-text: black;
--light-text: white;

  /* Header + Footer Colours to go here */

  /* Love Calculator Colours */
--lc-navy: #011627ff;
--lc-purple: #782f4bff;
--lc-bright-pink: #ef476fff;
--lc-light-pink: #f6a3b6ff;

  /* Weather Report Colours */
--wr-green: #0b8e7aff;
--wr-blue: #118ab2ff;
--wr-orange: #f06e64ff;
--wr-yellow: #ffd166ff;

    /* Activity Generator Colours */
--ag-pink: #e0acd5ff;
--ag-aqua: #afecdf;
--ag-light-blue: #11b5e4ff;
--ag-dark-blue: #3993ddff;

/* Joke Generator Colours */
--jg-orange: #fb5607ff;
--jg-yellow: #ffd166ff;
--jg-green: #7ea16bff;
--jg-blue: #118ab2ff;

/* Excuse Generator Colours */
--eg-navy: #073b4cff;
--eg-blue: #7b9ea8ff;
--eg-dusty-pink: #b48291ff;
--eg-light-pink: #ddcabbff;
}

.hide {
  display:none;
}